DB_USER=nguyenhuudinh
DB_PASSWORD=kon_password
DB_NAME=kon_erp_northwind
DATABASE_URL=postgresql://nguyenhuudinh:kon_password@localhost:5432/kon_erp_northwind

GOOGLE_API_KEY=your_key_here
KAGGLE_USERNAME=your_username
KAGGLE_KEY=your_key

JWT_SECRET_KEY=kon-secret-key-1234567890